<div class="container">

    <h3 class="d-flex justify-content-center"><b>QRFACE TEKNOLOJİ ANONİM ŞİRKETİ</b></h3>


</div>
<br> <br>

<form>

    <div id="container">
        <div class="duz-cerceve">
            <div>
                User Name : <input type="text" name="username" [(ngModel)]="username">
                <br> <br> Password : <input type="password" name="password" [(ngModel)]="password">
            </div>
            <br>
            <button (click)=checkLogin() class="btn btn-success">
      Login
    </button>
        </div>
    </div>
</form>